.title p {
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: -10px;
  font-family: cursive;
  font-size: 30px;
  font-weight: bold;
  color: #37352f;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
  display: block;
  color: black;
  font-weight: bold;
  height: 100%;
}

/* .container{
    table {
    border: 1px solid #000;
    tr{
        border: 1px solid #000;

        border-style: dotted;
        text-align:center ;
    }
}
} */
body * {
  box-sizing: border-box;
}

body .container3 {
  display: flex;
  flex-direction: column;
  font-family: cursive;
}

body .container3 #row1 {
  float: left;
  text-align: center;
  width: 250px;
  border: 2px solid black;
  padding: 40px;
  margin: 20px;
}

body .container3 #row1 .checkMark {
  margin-right: 95%;
}

body .container {
  font-family: cursive;
  font-weight: bold;
  margin-top: 40px;
  display: table;
}

body .container .form-group {
  margin-left: 20px;
}

body .container .form-group label {
  display: inline-block;
  width: 120px;
}

body .container .form-group label input {
  padding: 10px;
  margin: 12px;
  width: 200px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer p {
  font-family: cursive;
  color: black;
}

#footerLine {
  margin-top: 150px;
  display: block;
  color: black;
}

.button {
  /*     margin-top: -100px;
 */
  margin-left: 87%;
  background-color: #fff;
  border: #fff;
  font-family: cursive;
  z-index: 2;
}

.button .addBtn {
  position: absolute;
  margin-top: -50px;
  margin-left: -60px;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: white;
  border-style: ridge;
  box-shadow: 5px 5px #040404;
}

.button .addBtn a, .button .addBtn a:hover, .button .addBtn a:active, .button .addBtn a:visited, .button .addBtn a:focus {
  text-decoration: none;
  color: black;
}

.button .delete-checkbox {
  margin-top: -50px;
  position: absolute;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: white;
  border-style: ridge;
  box-shadow: 5px 5px #040404;
}

.button .cancelBtn {
  position: absolute;
  margin-top: -50px;
  margin-left: 80px;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: white;
  border-style: ridge;
  box-shadow: 5px 5px #040404;
}

.button .cancelBtn a, .button .cancelBtn a:hover, .button .cancelBtn a:active, .button .cancelBtn a:visited, .button .cancelBtn a:focus {
  text-decoration: none;
  color: black;
}

.button #saveBtn {
  position: absolute;
  margin-top: -50px;
  margin-left: 20px;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: white;
  border-style: ridge;
  box-shadow: 5px 5px #040404;
}

.button #saveBtn a, .button #saveBtn a:hover, .button #saveBtn a:active, .button #saveBtn a:visited, .button #saveBtn a:focus {
  text-decoration: none;
  color: black;
}
