/* .container{
    table {
    border: 1px solid #000;
    tr{
        border: 1px solid #000;

        border-style: dotted;
        text-align:center ;
    }
}
} */
body{
    * {
        box-sizing: border-box;
    }
    .container3{
        display:flex; 
        flex-direction:column; 
        font-family: cursive;
            #row1{
                
                .checkMark{
                margin-right: 95%;         
            }
                float: left;
                text-align: center;
                width: 250px;
                border: 2px solid black;
                padding: 40px;
                margin: 20px;
            }
        
    }
    .container{
        font-family: cursive;
        font-weight: bold;
        margin-top: 40px;
        display: table; 

        .form-group{
            margin-left: 20px;
          
            label{
                display: inline-block;
                width: 120px;
                input{
                    padding: 10px;
                    margin: 12px;
                    width: 200px;
                
             
                }
            }
            
        }
    }
}