.button {
/*     margin-top: -100px;
 */    margin-left: 87%;
    background-color: #fff;
    border: #fff;
    font-family: cursive;
    z-index: 2;
    .addBtn{
        position: absolute;
        margin-top: -50px;
        margin-left:-60px ;
        text-decoration: none;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: black;
        background-color: white;
        border-style:ridge;
        box-shadow: 5px 5px rgb(4, 4, 4);
        a, a:hover, a:active, a:visited, a:focus {
            text-decoration:none;
            color: black;
        }
    }
    .delete-checkbox{
        margin-top: -50px;
        position: absolute;
        text-decoration: none;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: black;
        background-color: white;
        border-style:ridge;
        box-shadow: 5px 5px rgb(4, 4, 4);
    }
    .cancelBtn{
        position: absolute;
        margin-top: -50px;
        margin-left:80px ;
        text-decoration: none;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: black;
        background-color: white;
        border-style:ridge;
        box-shadow: 5px 5px rgb(4, 4, 4);
        a, a:hover, a:active, a:visited, a:focus {
            text-decoration:none;
            color: black;
        }
    }
    #saveBtn{
        position: absolute;
        margin-top: -50px;
        margin-left:20px ;
        text-decoration: none;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: black;
        background-color: white;
        border-style:ridge;
        box-shadow: 5px 5px rgb(4, 4, 4);
        a, a:hover, a:active, a:visited, a:focus {
            text-decoration:none;
            color: black;
        }
    
  }
}