footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    p{
        font-family: cursive;
        color: black;
    }
    text-align: center;
}
#footerLine {
    margin-top: 150px ;
    display: block;
    color: black;    
}
