.title p{
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: -10px;
    font-family: cursive;
    font-size: 30px;
    font-weight:bold;
    color: #37352f;
}
hr {
    margin-left: 20px;
    margin-right: 20px;
    display: block;
    color: black;
    font-weight: bold;
    height: 100%;
    
}
